<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/hemant/Downloads/MintproSanityAutomation/src/test/java/com/qa/turtlemint/testcases">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[
                    String myTestGroup = System.getProperty("groupName");
                    groups.containsKey(myTestGroup);
                ]]>
                </script>
            </method-selector>
        </method-selectors>

                <groups>
                    <run>
                        <include name="${groupName}"></include>
                    </run>
                </groups>
        <classes>


            <class name="Login.MintproLoginTest"></class>
            <class name="Leads.MintproFlowForExistingUserTest"></class>
            <class name="Business.BusinessTest"></class>
            <class name="Grow.Grow_Page_Non_Verified_Test"></class>
            <class name="Grow.Grow_Page_Verified_Test"></class>
            <class name="ProfilePage.ProfilePageforNonVerifiedUser"></class>
            <class name="NegativeTest.NegativeTestCasesTest"></class>
            <class name="ProfilePage.ProfilePageforVerifiedUser"></class>
            <class name="SellPage.SellPageTestforNonVerifiedUser"></class>
            <class name="SellPage.SellPageTestforVerifiedUser"></class>
            <class name="UniversalSearchPageTest.UniversalSearchPageTest"></class>
            <class name="Grow.CRM_Test"></class>
            <class name="Academy.Academy"></class>
            <class name="Ninja_Mis_flow_test.ninja_mis_flow_test"></class>
        </classes>

    </test>
</suite>